.App {
  text-align: center;
}
.tag {
  width: min-content;
  border-radius: 8px;
  padding: 5px 10px;
}
.error {
  color: #ff4545;
  background-color: #ffdbdb;
}
.debug {
  color: #198319;
  background-color: #daffda;
}
.warning {
  color: #ff9a32;
  background-color: #fff0e0
}
.ant-table {
  background: #F2F3F6 !important;
}
.ant-select-selector, .search {
  width: 250px !important;
}
.filters {
  display: flex;
  padding: 32px 100px;
  justify-content: center;
}
.search {
  margin-left: 32px;
}
.btnMargin {
  margin-right: 32px;
}
.btnContainer {
  margin-bottom: 32px;
}
